attrs==20.3.0
Django==2.2.24
django-cors-headers==3.2.1
django-jenkins==0.19.0
djangorestframework==3.11.0
jproperties==2.1.0
jsonschema==3.2.0
psycopg2-binary==2.8.6
PyJWT==1.7.1
pyrsistent==0.17.3
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
